<!-- <h1>Pages#faq</h1>
<p>Find me in app/views/pages/faq.html.erb</p>
-->

<h1>Frequently Asked Questions</h1>

<a id="top" href="#verybottom">Go To The Bottom of The Page?</a>

<div>
	<ul class = "pager">
	   <li class = "previous">
	   		<a href = "/pages/welcome" class="beehivelybtn">&larr; Home </a>
	   	</li>
	</ul>
</div>

	<h3>FAQ Index</h3>

	<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle activation-menu-cta" aria-expanded="false"> Select Your Question <span class="caret"></span></button>
	    <ul class="dropdown-menu dropdown-menu-right-fix">
	        <li><a id="btnDropFAQ1" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">FAQ Content # 1</a></li>
	        <li><a id="btnDropFAQ2" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">FAQ Content # 2</a></li>
	        <li><a id="btnDropFAQ3" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">FAQ Content # 3</a></li>
	        <li><a id="btnDropFAQ4" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">FAQ Content # 4</a></li>
	       	<li><a id="btnDropFAQ5" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">FAQ Content # 5</a></li>
	       	<li><a id="btnDropFAQ6" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">FAQ Content # 6</a></li>
	        <li><a id="btnDropFAQ7" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">FAQ Content # 7</a></li>
	        <li><a id="btnDropFAQ8" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">FAQ Content # 8</a></li>
	        <li><a id="btnDropFAQ9" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">FAQ Content # 9</a></li>
	       	<li><a id="btnDropFAQ10" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">FAQ Content # 10</a></li>
	       	<li><a id="btnDropFAQ11" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">FAQ Content # 11</a></li>
	       	<li><a id="btnDropFAQ12" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">FAQ Content # 12</a></li>
	    </ul>
	</div>
	<br><br><br>

		<!-- FAQ Section Begin --> <!-- Solution to Clickable area: http://ux.stackexchange.com/questions/55800/accordian-anchor-click-vs-header-click -->
		
			<div id="FAQ">
				
				<!-- Collapsible List Group -->
				<!-- Collapsible Panel Number 1 -->
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
					  <h4 class="panel-title">
					  	<span class="caret"></span>
						<a class="collapsed" role="button" data-toggle="collapse" name="collapseOne" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						  How do I reset my password?
						</a>
					  </h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					  <div class="panel-body" id="panelbody1">
					  
					  <!-- Horizontal Description Steps For Solving The Problem -->
					  		<b>Please proceed through the following steps till the problem is solved. <b>
					  		<hr><br>
							<b> Click "Need a Password?"<b>
					  		<br><br>
							<img height="200" width="600" src="https://p4.zdusercontent.com/attachment/45893/chn5mheoh25axkd?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..CL4rJbo9mLiS63DxN9HqOw.a72FAY9kxpE-np0zNmld62Ghmcmvs7qivrm2ogltc57sKSH5a1QszCF0DKbUACzTy5oBQGDT-0eidqwXss_GvV4byDIxjLRXcod1W2JFr8jYAVCJlYzQOGtOkR2jtEAsKqCSE7pvNWI_xXXt9Dk2bCyuOpbTTKwZ0dJT5CuJQzkZa8Ao6ETS_48HH9TtlVve8TFKrXyd9Vpbk9FDf4mK1Ynhi6ez1wYKFYAj_kDGUp_6sbBlkD9nEZ1f9uOwV-rbuZQfDuyqPLzKYP8D-S2W8g.NyDcym1ZERSZ6gH7a1BS6g" />
					 		<br><br>
					 		<b> Enter your email address and click "Send password link." </b>
					 		<br><br>
					 		<img height="200"  width="600" src="https://p4.zdusercontent.com/attachment/45893/c75wgvaojzwavse?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..My5VtQnYYvLeNX39cBI1Nw.fIvb6-FcWMelbyr5Yj8HzdzR4wqqgDot14nt-TcIJW-EmTWhG5Xbdo7ak4evq3RZaDL1iCDfVJWyhgVt_4U22CXWXX-GIdRjUEr3GIpegkWm6VINcHn1GmMXxEVhElFNjDFnYQs0Dvcg1_lkSxHkBHMeiQ9M4PHnSK8BhR1iPnSZ1hJTMC_EMcNR8aoSpXkMsz1uzc0iw53w286olhsBwRtBuNbyqr0iBZIEygnrgfsWzz-u358Ju4Ju4QVazSEPLRG7F-Mk-XnHvcB61K7FGQ.yDVvXFrZxJM3k_cG4IOT6A"/>
					 		<br><br>
					 		<b> Check your email and follow the links and on screen instructions. </b>
					 		<br><br><br>
					 		<b>The link below will direct you to the login page in which the above instructions can be applied.</b>
					 		<br><br>
					 		<a href="https://beehively.zendesk.com/access/unauthenticated?return_to=https%3A%2F%2Fbeehively.zendesk.com%2Fcategories%2F20070304-Beehively-Web-Services"> Beehively Login </a>
							<br><hr>
							<p> For any other questions, please submit a ticket to our Support Team, who will contact you shortly. </p>
        					<%= link_to(tickets_new_path) do %>  
								<button type="button" class="btn btn-primary">Send Ticket To Support Team?</button>
        					<% end %>
					  </div>
					</div>
				  </div>
				  
				  <!-- Collapsible Panel Number 2 -->
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
					  <h4 class="panel-title">
					  <span class="caret"></span>
						<a class="collapsed" role="button" data-toggle="collapse" name="collapseTwo" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						  How do I access my student's grades?
						</a>
					  </h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpane2" aria-labelledby="headingTwo">
					  <div class="panel-body">
					  
					  <!-- Horizontal Description Steps For Solving The Problem -->
					  
							<b>Please proceed through the following steps till the problem is solved. <b>
					  		<hr><br>
							<b>Log in to your Beehively account and click the Students tab.</b>
							<br><br>
					 		<img height="200"  width="600" src="https://p4.zdusercontent.com/attachment/45893/a17qfkm8rqgb5we?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..MykuGv-kjGC0I7qqk8L41g.j6UkT2AdYinTDXU8wSxXrVV58553EtEfl4qSxVgsAZpY4lmbnzwZkLGOAQBQHrCKLciJn4CFf9t28nUOjQa82qYrUqyvohrBoGJrS3Y_d3kvpbpffzhT5vtkopjjzlVbYfP1m2YfLJOsqGWZ2M7CsZe4szniU--FFyEJBwxaHfPa1VycAIHeiaYGJZoZWSx7oCUiXImgG3B65mZlHRsbYIaKrqkHcB-rDGyelLGj9UGYw9MbySygSxBYVSx7sEzmRD1ARcVgU9vdRx3a0glXdQ.vmch-OTqd70gWun313LjsQ"/>
							<br><br>
							<b>Click the progress button ("Sarah's Progress").</b>
							<br><br>
							<img height="200"  width="600" src="https://p4.zdusercontent.com/attachment/45893/inqedybdtivkcr8?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..iXSkopf4-KL_b8Qn2mDE7g.c3_G6RoH0qhhkGSas7d1eQNruoBuwNEabGMvBDkx9GOiUoLZKRh-gkz7y-DFUxPYyLRO1ZU0J__OZX3Iv33kDMP435PnwOiZPBW45qOl81BqE3AluE-IgJCU6AMPgD-vO8YP9_8aaF_h5V24uMybrPxcKGfiCQ9Urgyh23uzwdnKvWj1INrHj8ZTrzVFoEnKz19se4huBmRuz3pvS7xwskeHxy1PH5mC8AcflbP2NOuL2sNrkl0ag_aqteA7IwRHnAca_M_MQHq_IenibplceA.SNeDV32hdcj_is3K56SraA"/>
							<br><br>
							<b>View The Progress Report or Missing Assignment Report. Click the printer icon to view each report as a PDF.</b>
							<br><br>
							<img height="200"  width="600" src="https://p4.zdusercontent.com/attachment/45893/ahxke03tyiqlsgy?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..y4Isaq1hfV9QAHBW5V1Xew.aCPT5LQcr1mAZD1te7g6-Q9KtXO1LZGj11Ah3X6PGmQCyfYS-OOy6A7jlZco4wtAIBwdSzW8svrac71GyVzWh4OMHFH3Ksqd7LapSCybf_0mhTIk3ZsKcpMoZtOKtdA3fNV2wQhDaRm5bTRhyRXEKEa2ysQgfddmmnMGDnSNx4lXc0jdi2WFaIW4YS-y210ZsjMs7jIXyKS9cOoqhFLlhBRMOyvJKshc6_oyrepUPgBfaDzQfV0v4mLPDzhanC31I370tzrmTYoXNoytUL6_2Q.XYyQ6LJv3MyilZcFiYtplw"/>
							<br><br>
							<b>Save or print the PDF.</b>
							<br><br>
							<img height="200"  width="600" src="https://p4.zdusercontent.com/attachment/45893/qyp7jfxzhdfxdpr?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..pdktEhhanJIAuTkR5zkkFA.WU0mT8JnFbgwItIYav3TXTVUCwBkCle4rfWouxTsrpJBb9HxVlwAzGpU5VwXpIuQ-jGx8KUh7asK1Secevar-Y9yyB4pYlYPctc-UNqa6XQvhwka8zjSr0XWI5SjQwY75_zOwsxkdc4uXwB_6R_8SVJMlK093J8f3ThBTLwGslrMTtAeocJae0v6cp8qEUSIlpLRXfK6kqyYfkV5vWe2tbE5y6NChmcAFNuQiZP0Dvk5dx0QlA7CxOZFVtf3avCziUUDZJ5NKpZunXSsU-4TVg.9L8v_JRqJq34b5kX3B0VgA"/>
							<br><hr>
							<p> For any other questions, please submit a ticket to our Support Team, who will contact you shortly. </p>
        					<%= link_to(tickets_new_path) do %>  
								<button type="button" class="btn btn-primary">Send Ticket To Support Team?</button>
        					<% end %>
					  </div>
					</div>
				</div>
				
				  <!-- Collapsible Panel Number 3 -->
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					  <h4 class="panel-title">
					  	<span class="caret"></span>
						<a class="collapsed" role="button" data-toggle="collapse" name="collapseThree" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						  How can I add students to my class?
						</a>
					  </h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpane3" aria-labelledby="headingThree">
					  <div class="panel-body">
					  
					  <!-- Horizontal Description Steps For Solving The Problem -->
					  
							<b>Please proceed through the following steps till the problem is solved. <b>
					  		<hr>
							<b>Please see the attached pdf for instructions on adding a student to your gradebook.</b>
					  		<br>
					  		<button class="btn btn-large btn-danger" onclick="location.href='https://beehively.zendesk.com/attachments/token/cffk1gtooehkwkf/?name=Gradebook+Adding+A+Student.pdf'">Gradebook Adding A Student.pdf <img src="https://beehively.zendesk.com/images/defaults/page_white_acrobat.png" /></a></button>
							<br><hr>
							<p> For any other questions, please submit a ticket to our Support Team, who will contact you shortly. </p>
	        				<%= link_to(tickets_new_path) do %>  
								<button type="button" class="btn btn-primary">Send Ticket To Support Team?</button>
	        				<% end %>
					  </div>
					</div>
				  </div>
				  
				  <!-- Collapsible Panel Number 4 -->
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFour">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseFour" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								How can I get announcements emailed to me?
							</a>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpane4" aria-labelledby="headingFour">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
					  
						<b>Please proceed through the following steps till the problem is solved. <b>
					  	<hr>
						<b>Updating Your Memberships</b>
						<p>Not receiving the emails you expect? Watch our quick video to learn how to update your membership settings.</p>
						
						<div class="embed-responsive embed-responsive-16by9">
						    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/7a4mWy3qLpg"></iframe>
						</div>
						
						<b>Please see the attached pdf for instructions on adding a student to your gradebook.</b>
					  	<br>
					  	<button class="btn btn-large btn-danger" onclick="location.href='https://beehively.zendesk.com/attachments/token/rif680td581tssz/?name=Updating+Your+Memberships.pdf'">Updating Your Memberships.pdf <img src="https://beehively.zendesk.com/images/defaults/page_white_acrobat.png" /></a></button>
					  	<br><hr>
						<p> For any other questions, please submit a ticket to our Support Team, who will contact you shortly. </p>
        				<%= link_to(tickets_new_path) do %>  
							<button type="button" class="btn btn-primary">Send Ticket To Support Team?</button>
        				<% end %>
					</div>
				</div>
					
					<!-- Collapsible Panel Number 5 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseFive" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
							What does your site maintenance include?
							</a>
						</h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpane5" aria-labelledby="headingFive">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  	<hr>
						<p>General site maintenance applies to all of our websites. This includes keeping your website in its best possible condition, both from a design and technical standpoint. We maintain all of our websites with the latest browser updates, security installments and ensuring that no 'dated' content remains on your website.</p>
						<br><hr>
						<p> For any other questions, please submit a ticket to our Support Team, who will contact you shortly. </p>
        				<%= link_to(tickets_new_path) do %>  
							<button type="button" class="btn btn-primary">Send Ticket To Support Team?</button>
        				<% end %>
					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
					<!-- Collapsible Panel Number 6 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSix">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseSix" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
							What browser's are your sites compatible with?
							</a>
						</h4>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpane6" aria-labelledby="headingSix">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  	<hr>
						<p>Mozilla Firefox, Safari, Chrome & Internet Explorer.</p>
						<br><hr>
						<p> For any other questions, please submit a ticket to our Support Team, who will contact you shortly. </p>
        				<%= link_to(tickets_new_path) do %>  
							<button type="button" class="btn btn-primary">Send Ticket To Support Team?</button>
        				<% end %>
					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
					<!-- Collapsible Panel Number 7 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSeven">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseSeven" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
							What is an annual design update?
							</a>
						</h4>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse" role="tabpane7" aria-labelledby="headingSeven">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  	<hr>
						<p>Annual design updates applies to all of our websites. This includes refreshing the original design to match whatever new changes the client would like to see (including updating the navigation, page layouts, dynamic elements etc.). We provide this to ensure that you site remains interactive and healthy.</p>
						<br><hr>
						<p> For any other questions, please submit a ticket to our Support Team, who will contact you shortly. </p>
        				<%= link_to(tickets_new_path) do %>  
							<button type="button" class="btn btn-primary">Send Ticket To Support Team?</button>
        				<% end %>
					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
					<!-- Collapsible Panel Number 8 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingEight">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseEight" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
							What does dynamic content mean?
							</a>
						</h4>
					</div>
					<div id="collapseEight" class="panel-collapse collapse" role="tabpane8" aria-labelledby="headingEight">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  	<hr>
						<p>Any elements within the site that require a higher level of activity (other than navigation), such as flash elements or movement on individual pages. These elements require greater amounts of production and design but our team can build anything that you're looking to accomplish.</p>
						<br><hr>
						<p> For any other questions, please submit a ticket to our Support Team, who will contact you shortly. </p>
        				<%= link_to(tickets_new_path) do %>  
							<button type="button" class="btn btn-primary">Send Ticket To Support Team?</button>
        				<% end %>
					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
					<!-- Collapsible Panel Number 9 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingNine">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseNine" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
							Can you create the content for us, or help us do so?
							</a>
						</h4>
					</div>
					<div id="collapseNine" class="panel-collapse collapse" role="tabpane9" aria-labelledby="headingNine">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  	<hr>
					  	<p>Yes. We work with all Beehively Website customers to shape content. For specific content creation, depending on the scope and requirements for individual pages or the entire site, our team can help shape content for all website customers.</p>
						<br><hr>
						<p> For any other questions, please submit a ticket to our Support Team, who will contact you shortly. </p>
        				<%= link_to(tickets_new_path) do %>  
							<button type="button" class="btn btn-primary">Send Ticket To Support Team?</button>
        				<% end %>
					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
					<!-- Collapsible Panel Number 10 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTen">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseTen" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
							How quickly can you make page edits?
							</a>
						</h4>
					</div>
					<div id="collapseTen" class="panel-collapse collapse" role="tabpane10" aria-labelledby="headingTen">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  	<hr>
						<p>Our typical turnaround time for page edits are five (5) business days. Contact our support team if there is an immediate need for a faster turnaround. In general, the sooner we receive the edits, the faster they will go up. We also can implement (with all of our website clients) a general edit plan for the year, regarding specific elements of the site (like fund-raising events, annual drives etc.)</p>
						<br><hr>
						<p> For any other questions, please submit a ticket to our Support Team, who will contact you shortly. </p>
        				<%= link_to(tickets_new_path) do %>  
							<button type="button" class="btn btn-primary">Send Ticket To Support Team?</button>
        				<% end %>
					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
									<!-- Collapsible Panel Number 5 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingEleven">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseEleven" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
							Adding a Facebook Feed to Your Website.
							</a>
						</h4>
					</div>
					<div id="collapseEleven" class="panel-collapse collapse" role="tabpane11" aria-labelledby="headingEleven">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  	<hr>
					  	<p>Please see this guide for instructions on adding your school's facebook feed to your website.</p>
						<br>
					  		<button class="btn btn-large btn-danger" onclick="location.href='https://beehively.zendesk.com/attachments/token/jzxes3eudqyfaed/?name=Adding+Your+Facebook+Feed+to+Your+Website.pdf'">Adding Your Facebook Feed to Your Website.pdf <img src="https://beehively.zendesk.com/images/defaults/page_white_acrobat.png" /></a></button>
					  	<br>
					  	<hr>
					  	<p> For any other questions, please submit a ticket to our Support Team, who will contact you shortly. </p>
        					<%= link_to(tickets_new_path) do %>  
						    	<button type="button" class="btn btn-primary">Send Ticket To Support Team?</button>
        					<% end %>
					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
									<!-- Collapsible Panel Number 5 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwelve">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseTwelve" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
							Viewing Attendance Summary for an Individual Student
							</a>
						</h4>
					</div>
					<div id="collapseTwelve" class="panel-collapse collapse" role="tabpane12" aria-labelledby="headingTwelve">
					<div class="panel-body" id="panelbody12">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  	<br><br>
						<ul>
							<li>Select the Administrators tab</li>
							<li>Click on the Attendance view on the left</li>
							<li>Select the Classroom the student is enrolled in</li>
						</ul>
						<br>
						<img height="400"  width="600" src="https://p4.zdusercontent.com/attachment/45893/lpoasxmz62sunnf?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..XJsG0Y5I3fa58OExj6xiEQ.5wV59ympalUvTIwytjdSiIEYkvolJjhpQAQiN8fKcYhQGm8H4MzOkqn0RXm7vHg45IR0xNg9-bUyBwTxXbHpbw2_SxWpk4G0ThT_VEp5IWxZWQiSq7C3AuCe6iIpatNgYF7_whYbJg95YDnE-u5HKc7GxUqtJ3gq4dEx-VklgrJC1K34Tk1SjCvIKeyjp3LB2I3-CDmB5_pGEsDFPZ1VDVAjbXP0l7cNwpLaHcZSsj0E83pSuFKam0s8HhRLP-K8OlewN6WA0HcSHxYz185rGw.ygatWZbzzLFbQ1whQtadjg"/>
						<br><br>
						<ul>
							<li>Click on the individual Student's attendance summary</li>
						</ul>
						
						<img height="200"  width="600" src="https://p4.zdusercontent.com/attachment/45893/i4u9lqv7igtczpu?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..VdbRa--DI-lAy7yJy4LU3A.CsblYeOREWSpFemN41F3J-_yYrzzG2rJe_yCIgLJinjgJ2ToZ7rYUYBE9iEBxO2ppy-ZqAcn9fT4tlUlDZp0bygwDxjXCYkHt7S9IZQ2A1AzeBUyAg3KeFsz4j5kN7vX9BWRAkwKP0551yn8yOiuUrIbnFJLBuq1_fwixE8y036oI3gA-DFKX3oRKn8tQtLnckB2dT1Rqa2denSVC1Mt64ZW8pIyT6SA4TU7Pz0pV0qm8CpfsiL9KiuV2YJGPBZAEwlRcE-EY-jbZ-UcuNgSgw.XUBj3GKZN3v3bRhcJo_BMA"/>
						<br><br>
						<ul>
							<li>Notice the period for which the summary is generated.</li>
							<li>You can change the view by selecting on the desired Month on the top of the View.</li>
						</ul>
						<br>
						<img height="300"  width="600" src="https://p4.zdusercontent.com/attachment/45893/ctk3zaxbzopupbt?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..vDnMj9lR2K4PrOrobYI24w.SCBSKOSupC9fbkClU6-0vrGRD1En8UsFtC_q3c2UuFiMTWseGQGmldviHdVVsSc3Kz0tPPAN-pFKNz1ZuCL6S3O5yqHPz5mZH69531_P4c-_72GszN2JTp8endEOdlEJkaKfitGeyV70j_OTHOQeVHfa-thVyIWImT4BJmEJrDpn-Nvu0FeZI08O3xlCFlmjC84DOBNGsXpmOxmwNMyCy8Q7geia74h88I4uWuIpicsvbsi1bvlRpdvi02YNoJ4yxojAa_A9zDg9NJU2ULRJGA.J7NOsLYHD7HJUPPg7iKIOw"/>
						<br>
						<hr>
						<p> For any other questions, please submit a ticket to our Support Team, who will contact you shortly. </p>
        						<%= link_to(tickets_new_path) do %>  
						       	 <button type="button" class="btn btn-primary">Send Ticket To Support Team?</button>
        						<% end %>
        				<br>
						<p>And that's it!</p>
					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
				</div>
		</div>
	</div>
			
			<!-- FAQ Section End -->
			
			<a id="bottom" href="#verytop">Go To The Top of The Page?</a>

<div>
	<ul class = "pager">
	   <li class = "previous">
	   		<a href = "/pages/welcome" class="beehivelybtn">&larr; Home </a>
	   	</li>
	</ul>
</div>

<script>

$(document).ready(function test() {
	
	location.href ="#verybottom";
	location.href="#verytop";
});
	
</script>

<script>

$(document).ready(function () {
	
        $('.collapse').collapse('hide');
        $('#btnDropFAQ1').click(function () {
            $('#collapseOne').collapse('show');
            $('#collapseTwo').collapse('hide');
            $('#collapseThree').collapse('hide');
            $('#collapseFour').collapse('hide');
            $('#collapseFive').collapse('hide');
        });
        $('#btnDropFAQ2').click(function () {
            $('#collapseTwo').collapse('show');
            $('#collapseOne').collapse('hide');
            $('#collapseThree').collapse('hide');
            $('#collapseFour').collapse('hide');
            $('#collapseFive').collapse('hide');
        });
        $('#btnDropFAQ3').click(function () {
            $('#collapseThree').collapse('show');
            $('#collapseOne').collapse('hide');
            $('#collapseTwo').collapse('hide');
            $('#collapseFour').collapse('hide');
            $('#collapseFive').collapse('hide');
        });
        $('#btnDropFAQ4').click(function () {
            $('#collapseFour').collapse('show');
            $('#collapseOne').collapse('hide');
            $('#collapseTwo').collapse('hide');
            $('#collapseThree').collapse('hide');
            $('#collapseFive').collapse('hide');
        });
        $('#btnDropFAQ5').click(function () {
            $('#collapseFour').collapse('show');
            $('#collapseOne').collapse('hide');
            $('#collapseTwo').collapse('hide');
            $('#collapseThree').collapse('hide');
            $('#collapseFour').collapse('hide');
        });
    });

});
	
</script>

<style>

/* Style the FAQ Section */

.panel-default>.panel-heading {
    background-color: #e6b800;
}
	
.panel-default{
	box-shadow: 10px 10px 5px #808080;
}

.panel-heading{
	box-shadow: 10px 10px 5px #808080;
}
	
.beehivelybtn:active{
    color: #000;
    background-color: #ffbf00;
    border-color: #0000;
	box-shadow: 10px 10px 5px #808080;
}

.beehivelybtn:hover {
    color: #000;
    background-color: #ffbf00;
    border-color:  #0000;
	box-shadow: 10px 10px 5px #808080;
}

.beehivelybtn:active:hover {
    color: #000;
    background-color: #ffbf00;
    border-color:  #0000;
	box-shadow: 10px 10px 5px #808080;
}

	
</style>